:root {
  --main-font-family: sans-serif;
}

.navbar{
  display: flex;
  justify-content: space-around;
}

.navbar > Link{
  font-family: var(--main-font-family);
  text-decoration: none;
}

div {
  margin-left: 20px;
}

.inputs {
  display: flex; 
  flex-direction: column;
  width: 300px;
}